bigws/todo-cli-ws/src/main/wsdl/TodoCliService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://todows.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://todows.bigws/"
	name="ToDoWebServiceService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://todows.bigws/"
				schemaLocation="toDo.xsd" />
		</xsd:schema>
	</types>
	<message name="removeTask">
		<part name="parameters" element="tns:removeTask" />
	</message>
	<message name="removeTaskResponse">
		<part name="parameters" element="tns:removeTaskResponse" />
	</message>
	<message name="listTasks">
		<part name="parameters" element="tns:listTasks" />
	</message>
	<message name="listTasksResponse">
		<part name="parameters" element="tns:listTasksResponse" />
	</message>
	<message name="addTask">
		<part name="parameters" element="tns:addTask" />
	</message>
	<message name="addTaskResponse">
		<part name="parameters" element="tns:addTaskResponse" />
	</message>
	<portType name="ToDoWebService">
		<operation name="removeTask">
			<input wsam:Action="http://todows.bigws/ToDoWebService/removeTaskRequest"
				message="tns:removeTask" />
			<output wsam:Action="http://todows.bigws/ToDoWebService/removeTaskResponse"
				message="tns:removeTaskResponse" />
		</operation>
		<operation name="listTasks">
			<input wsam:Action="http://todows.bigws/ToDoWebService/listTasksRequest"
				message="tns:listTasks" />
			<output wsam:Action="http://todows.bigws/ToDoWebService/listTasksResponse"
				message="tns:listTasksResponse" />
		</operation>
		<operation name="addTask">
			<input wsam:Action="http://todows.bigws/ToDoWebService/addTaskRequest"
				message="tns:addTask" />
			<output wsam:Action="http://todows.bigws/ToDoWebService/addTaskResponse"
				message="tns:addTaskResponse" />
		</operation>
	</portType>
	<binding name="ToDoWebServicePortBinding" type="tns:ToDoWebService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="removeTask">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listTasks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addTask">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ToDoWebServiceService">
		<port name="ToDoWebServicePort" binding="tns:ToDoWebServicePortBinding">
			<soap:address location="http://localhost:8081/todoServer" />
		</port>
	</service>
</definitions>